/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: relative;
   background: #3880e4;
   color: #fff;
  border-bottom: 1px solid $border-color;
  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 1em 1em 1em;
     background: #3880e4;
     -webkit-text-fill-color: #fff;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;
      background: #3880e4;
    }

    nav {
      z-index: 10;
      background-color: #3880e4;
    }

    a {
      text-decoration: none;
      background-color: #3880e4;
    }
  }
}

.masthead__menu {

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
    background-color: #3880e4;
    color: #fff;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;
  background-color: #3880e4;
  color: #fff;

  &--lg {
    padding-right: 2em;
    font-weight: 700;
    background-color: #3880e4;
    color: #fff;
  }
}
